* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
body {
  background: #05292e;
  box-shadow: -5 -1 5px #6f2566;
}
.header {
  position: relative;
}
.headerImg {
  max-height: 500px;
  object-fit: cover;
  object-position: bottom;
  width: 100%;
}

.input {
  background: linear-gradient(to top, #051b1f, #0c2929, transparent);
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  margin-top: 10px;
  min-width: 50vw;
  height: 30px;
  padding-left: 10px;
}
.input:focus {
  box-shadow: 0 0 8px;
}

.infoBar {
  padding: 20px;
  background-color: #062226;
  color: #fff;
  margin: 10px 30px;
}
.infoBarInfo h2 {
  display: inline;
  margin: 0px 10px;
}

button {
  background-color: #051b1f;
  margin-left: 15px;
  border: none;
  border-radius: 50%;
}
button i {
  margin: 10px;
  color: #fff;
}
button:hover {
  text-shadow: 0 0 8px, 0 0 16px, 0 0 32px;
}

.residentList {
  width: 70%;
  margin: 0 auto;
  color: #fff;
  list-style: none;
}
.residentList hr {
  width: 90%;
  margin: auto auto;
}
.residentItem {
  grid-template-columns: 1fr 1fr;
  display: inline-block;
  border-radius: 10px;
  background-color: #062226;
  max-width: 300px;
  margin: 10px;
}
.residentItem img {
  border-radius: 5px;
  width: 95%;
  margin: 5px;
}
.residentState {
  position: relative;
}
.residentState span {
  padding-right: 5px;
}
.residentState p {
  position: absolute;
  top: 30px;
  padding: 2px 10px;
  background-color: #062226;
  border-radius: 0px 10px 10px 0px;
}

.infoItem {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}

span {
  text-shadow: 0 0 8px, 0 0 16px, 0 0 32px;
}
footer {
  background-color: #062226;
  padding: 10px;
  font-size: 30px;
  color: #fff;
}
